<div id="wiki-stacks" class="document controller-loading stack-manager">

	<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
			
	<!-- START : Header -->
	<div class="header" role="banner">
		<header>
			<div class="page">
				<div class="grid-primary">
					<div class="pad">
						<h1 class="page-name">
							<a href="#/home">WikiStacks</a> <span class="section-name">Home</span>
						</li>
					</div>
				</div>
			</div>
			<div class="grid-primary navigation-primary">
				<div class="page">
							
					<!-- START : Primary navigation stack -->
					<div class="webstew-nav stack-nav pad" role="navigation">
						<nav>
							<ol class="list-inline">
								<li><a href="#/home">Home</a></li>
								<li><a href="#/stacks">Stacks</a></li>
								<li><a href="#/contact-us">Contact Us</a></li>
							</ol>
						</nav>
					</div>
					<!-- END : Sidebar stack navigation -->
					
				</div>
			</div>
		</header>
	</div>
	<!-- END : Header -->
	
	<!-- START : Home page -->
	<div id="homes" class="page controller-body stack-manager stack-item" role="main">
		<div class="grid-primary">
			<div class="pad">
				<h2>Home</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<!-- END : Home page -->
	
	
	<!-- START : Experiences page -->
	<div id="stacks" class="page controller-body stack-manager stack-item" role="main">
							
		<!-- START : Experiences navigation stack -->
		<div class="stack-nav pad" role="navigation">
			<nav>
				<ol class="list-inline">
					<li><a href="#/stacks/projects" class="button button-secondary">Projects</a></li>
					<li><a href="#/stacks/technologies" class="button button-secondary">Technologies</a></li>
				</ol>
			</nav>
		</div>
		<!-- END : Homes navigation stack -->
		
		
		<!-- START : Projects -->
		<div id ="projects" class="projects stack-manager stack-item">
			<h2 class="access">Projects</h2>
			
			<!-- START : Projects results -->
			<div id="projects-index" class="stack-item">
				<div class="grid-primary">
					<div class="grid w-25">
						<div class="pad">
						
							<!-- START : Sidebar -->
							<div id="projects-filters" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h2 class="data-name">Filter</h2>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-projects">Search projects</label>
											<div class="field">
												<input type="text" id="search-projects" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<form action="#" class="linear">
											<fieldset>
												<legend class="access">
													<span>Please choose your technologies</span>
												</legend>
												<ol class="data-list filter-list">
												</ol>
											</fieldset>
										</form>
									</div>
								</div>			
							</div>
							<!-- END : Sidebar -->
						
						</div>
					</div>
					<div class="grid w-75">
						<div class="pad">
							
							<!-- START : Projects results -->
							<div id="projects-results" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h3 class="data-name">Project results</h3>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-projects">Search projects</label>
											<div class="field">
												<input type="text" id="search-projects" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<ul class="list-search grid-secondary filter-list">
										</ul>
									</div>
								</div>
							</div>
							<!-- END : Projects results -->
							
						</div>
					</div>
				</div>
			</div>
			<!-- END : Projects results -->
			
			<!-- START : Projects details -->
			<div id="projects-details" class="stack-item">
				<div class="grid-primary">
					<div class="grid w-50">
						<div class="pad">
							<h2>Details</h2>
						</div>
					</div>
					<div class="grid w-50">
						<div class="pad">
							<h2>Details</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- END : Projects details -->
			
		</div>
		<!-- END : Projects -->
		
		
		<!-- START : Technologies -->
		<div id="technologies" class="technologies stack-manager stack-item">
			<h2 class="access">Technologies</h2>
		
			<!-- START : Technologies results -->
			<div id="technologies-index" class="stack-item">
				<div class="grid-primary">
					<div class="grid w-25">
						<div class="pad">
						
							<!-- START : Sidebar -->
							<div id="technologies-filters" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h3 class="data-name">Filter</h3>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-technologies">Search technologies</label>
											<div class="field">
												<input type="text" id="search-technologies" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<form action="#" class="linear">
											<fieldset>
												<legend class="access">
													<span>Please choose your technologies</span>
												</legend>
												<ol class="data-list filter-list">
												</ol>
											</fieldset>
										</form>
									</div>
								</div>				
							</div>
							<!-- END : Sidebar -->
							
						</div>
					</div>
					<div class="grid w-75">
						<div class="pad">
							
							<!-- START : Technologies results -->
							<div id="technologies-results" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h3 class="data-name">Technology results</h3>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-technologies">Search technologies</label>
											<div class="field">
												<input type="text" id="search-technologies" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<ul class="list-search grid-secondary filter-list">
										</ul>
									</div>
								</div>
							</div>
							<!-- END : Technologies results -->
							
						</div>
					</div>
				</div>
			</div>
			<!-- END : Technologies results -->
			
			<!-- START : Technologies details -->
			<div id="technologies-detail" class="stack-item">
				<div class="grid-primary">
					<div class="grid w-50">
						<div class="pad">
							<h2>Details</h2>
						</div>
					</div>
					<div class="grid w-50">
						<div class="pad">
							<h2>Details</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- END : Technologies details -->
			
		</div>
		<!-- END : Technologies -->
		
	</div>
	<!-- END : Experiences page -->
	
	<!-- START : Contact me -->
	<div id="contacts" class="page controller-body stack-manager stack-item" role="main">
		<div class="grid-primary">
			<div class="pad">
				<h2>Contact us</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="grid w-50">
				<div class="pad">
					
					<div class="data-pane">
						<div class="data-head">
							<h3 class="data-name">Send me an email</h3>
						</div>
						<div class="data-body data-body-scrolless">
							<div class="content-pad">
					
								<!-- START : Contact form -->
								<form action="#/contact-me" method="post" class="linear">
								
									<div class="form-row">
										<label for="contact-name">
											<span class="require">*
												<span class="access"> Required -</span>
											</span> Name
										</label>
										<div class="field">
											<input type="text" name="contact-name" id="contact-name" class="lrg">
										</div>
									</div>
									
									<div class="form-row">
										<label for="contact-email">
											<span class="require">*
												<span class="access"> Required -</span>
											</span> Email address
										</label>
										<div class="field">
											<input type="text" name="contact-email" id="contact-email" class="lrg">
										</div>
									</div>
									
									<div class="form-row">
										<label for="contact-comments">
											<span class="require">*
												<span class="access"> Required -</span>
											</span> Comments
										</label>
										<div class="field">
											<textarea name="contact-comments" id="contact-comments" rows="10" cols="52"></textarea>
										</div>
									</div>
									
									<div class="submit-row">
										<button type="submit" class="button button-primary">Send</button>
										<button type="reset" class="button button-secondary">Clear</button>
									</div>
									
								</form>
								<!-- END : Contact form -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid w-25">
				<div class="pad">
				
					<!-- START : Social networks -->
					<div class="data-pane">
						<div class="data-head">
							<h3 class="data-name">Look us up on one the follow</h3>
						</div>
						<div class="data-body">
							<ul class="list-search">
								<li class="grid w-25">
									<div class="pad">
										<div class="object-read">
											<h4 class="object-name">
												<a href="#">Lorem ipsom</a>
											</h4>
										</div>
									</div>
								</li>
								<li class="grid w-25">
									<div class="pad">
										<div class="object-read">
											<h4 class="object-name">
												<a href="#">Lorem ipsom</a>
											</h4>
										</div>
									</div>
								</li>
								<li class="grid w-25">
									<div class="pad">
										<div class="object-read">
											<h4 class="object-name">
												<a href="#">Lorem ipsom</a>
											</h4>
										</div>
									</div>
								</li>
								<li class="grid w-25">
									<div class="pad">
										<div class="object-read">
											<h4 class="object-name">
												<a href="#">Lorem ipsom</a>
											</h4>
										</div>
									</div>
								</li>
								<li class="grid w-25">
									<div class="pad">
										<div class="object-read">
											<h4 class="object-name">
												<a href="#">Lorem ipsom</a>
											</h4>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- END : Social networks -->
					
				</div>
			</div>
			<div class="grid w-25">
				<div class="pad">
					<div class="data-pane">
						<div class="data-head">
							<h3 class="data-name">Latest tweets</h3>
						</div>
						<div class="data-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END : Contact me -->
	
</div>