<div id="webstew" class="document">
	<div class="page">

		<div class="tabula-rasa">
			<div class="grid-primary">
				<div class="pad">

					<h1>WebStew</h1>

					<!-- START: Tabs navigation -->
					<ul class="tabs-nav list-inline">
						<li data-name="projects">
							<a href="#/projects" class="button button-primary">Projects</a>
						</li>
						<li data-name="technologies">
							<a href="#/technologies" class="button button-primary">Technologies</a>
						</li>
					</ul>
					<!-- END: Tabs navigation -->

				</div>
			</div>

			<div class="grid-primary">
				<div class="pad">

					<!-- START: Tabs content -->
					<div class="tabs-content">
						<div id ="projects" class="projects">
						</div>

						<div id="technologies" class="technologies">
							<div id="technologies-stack">
								<div id="technologies-index">
								</div>
							</div>
						</div>
					</div>
					<!-- END: Tabs navigation -->

				</div>
			</div>
		</div>

	</div>
</div>