<div id="webstew" class="document">
	<div id="webstew-stack" class="page">

		<div class="tabula-rasa">
			<div class="grid-primary">
				<div class="pad">

					<h1>WebStew</h1>

					<!-- START: Tabs navigation -->
					<ul class="list-inline">
						<li><a href="#/projects" class="button button-secondary">Projects</a></li>
						<li><a href="#/technologies" class="button button-secondary">Technologies</a></li>
					</ul>
					<!-- END: Tabs navigation -->

				</div>
			</div>

			<div class="grid-primary">
				<div class="pad">

					<div id ="projects" class="projects">
					</div>
	
					<div id="technologies" class="technologies">
						<div id="technologies-stack">
							<div id="technologies-index">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>