<div id="webstew" class="document controller-loading stack-manager">

	<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
			
	<!-- START : Header -->
	<div class="header" role="banner">
		<header>
			<div class="page">
				<div class="grid-primary">
					<div class="pad">
						<h1 class="page-name">WebStew <span class="section-name">Home</span></h1>
					</div>
				</div>
			</div>
			<div class="grid-primary navigation-primary" role="navigation">
				<div class="page">
							
					<!-- START : Primary navigation stack -->
					<div class="content-pad webstew-nav stack-nav">
						<nav>
							<nav role="navigation">
								<ul class="list-inline stack-nav">
									<li><a href="#/home">Home</a></li>
									<li><a href="#/experience">Experience</a></li>
									<li><a href="#/contact-me">Contact me</a></li>
								</ul>
							</nav>
						</nav>
					</div>
					<!-- END : Sidebar stack navigation -->
					
				</div>
			</div>
		</header>
	</div>
	<!-- END : Header -->
	
	<!-- START : Home page -->
	<div id="homes" class="page controller-body stack-manager stack-item" role="main">
		<div class="grid-primary">
			<div class="pad">
				<h2>Home</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<!-- END : Home page -->
	
	
	<!-- START : Experiences page -->
	<div id="experiences" class="page controller-body stack-manager stack-item" role="main">
							
		<!-- START : Experiences navigation stack -->
		<div class="stack-nav pad">
			<nav role="navigation">
				<ul class="list-inline">
					<li><a href="#/experience/projects" class="button button-secondary">Projects</a></li>
					<li><a href="#/experience/technologies" class="button button-secondary">Technologies</a></li>
				</ul>
			</nav>
		</div>
		<!-- END : Homes navigation stack -->
		
		
		<!-- START : Projects -->
		<div id ="projects" class="projects stack-manager stack-item">
			<h2 class="access">Projects</h2>
			
			<!-- START : Projects results -->
			<div id="projects-index" class="stack-item">
				<div class="grid-primary">
					<div class="grid w-25">
						<div class="pad">
						
							<!-- START : Sidebar -->
							<div id="projects-filters" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h2 class="data-name">Filter</h2>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-projects">Search projects</label>
											<div class="field">
												<input type="text" id="search-projects" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<form action="#" class="linear">
											<fieldset>
												<legend class="access">
													<span>Please choose your technologies</span>
												</legend>
												<ol class="data-list">
												</ol>
											</fieldset>
										</form>
									</div>
								</div>			
							</div>
							<!-- END : Sidebar -->
						
						</div>
					</div>
					<div class="grid w-75">
						<div class="pad">
							
							<!-- START : Projects results -->
							<div id="projects-results" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h3 class="data-name">Project results</h3>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-projects">Search projects</label>
											<div class="field">
												<input type="text" id="search-projects" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<ul class="list-plain list-search">
										</ul>
									</div>
								</div>
							</div>
							<!-- END : Projects results -->
							
						</div>
					</div>
				</div>
			</div>
			<!-- END : Projects results -->
			
		</div>
		<!-- END : Projects -->
		
		
		<!-- START : Technologies -->
		<div id="technologies" class="technologies stack-manager stack-item">
			<h2 class="access">Technologies</h2>
		
			<!-- START : Technologies results -->
			<div id="technologies-index" class="stack-item">
				<div class="grid-primary">
					<div class="grid w-25">
						<div class="pad">
						
							<!-- START : Sidebar -->
							<div id="technologies-filters" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h3 class="data-name">Filter</h3>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-technologies">Search technologies</label>
											<div class="field">
												<input type="text" id="search-technologies" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<form action="#" class="linear">
											<fieldset>
												<legend class="access">
													<span>Please choose your technologies</span>
												</legend>
												<ol class="data-list">
												</ol>
											</fieldset>
										</form>
									</div>
								</div>				
							</div>
							<!-- END : Sidebar -->
							
						</div>
					</div>
					<div class="grid w-75">
						<div class="pad">
							
							<!-- START : Technologies results -->
							<div id="technologies-results" class="controller-loading">
								<img src="/assets/loading.gif" alt="Content loading, please wait..." class="image-loading">
								<div class="data-pane">
									<div class="data-head">
										<h3 class="data-name">Technology results</h3>
										<form class="data-search" action="#" role="search">
											<label class="access" for="search-technologies">Search technologies</label>
											<div class="field">
												<input type="text" id="search-technologies" name="data-search" class="data-search-input">
												<button type="submit" class="button icon icon-search">
													<span class="access">Search</span>
												</button>
											</div>
										</form>
									</div>
									<div class="data-body controller-body">
										<ul class="list-plain list-search">
										</ul>
									</div>
								</div>
							</div>
							<!-- END : Technologies results -->
							
						</div>
					</div>
				</div>
			</div>
			<!-- END : Technologies results -->
			
		</div>
		<!-- END : Technologies -->
		
	</div>
	<!-- END : Experiences page -->
	
	<!-- START : Contact me -->
	<div id="contacts" class="page controller-body stack-manager stack-item" role="main">
		<div class="grid-primary">
			<div class="pad">
				<h2>Contact me</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	<!-- END : Contact me -->
	
</div>