@media screen {
	
	// Masthead 
	.header {
		@include background-gradient($colour-secondary-light, $colour-secondary);
		margin: 0 0 $margin-med;
		overflow: hidden;
		padding: $pad-med 0 0;
		
		.page-name,
		.page-name a,
		.section-name {
			color: $colour-sharp;
			font-size: 1.238em;
			font-weight: 400;
			letter-spacing: $letter-spacing;
			margin: 0 0 $margin-med 0;
			@include text-shadow();
		}
		.section-name {
			color: $colour-bold-lightest;
		}
	}
	
	// Primary navigation
	.navigation-primary {
		@include background-gradient();
		border-bottom: 1px solid $colour-compliment;
		border-top: 1px solid $colour-compliment-darker;
		
		.webstew-nav {
			padding-top: $pad-med;
		}
	}
}